

<nav class="navbar navbar-inverse">

  <div class="container-fluid">
    <div class="navbar-header">
    </div class="container">
    
      <%= link_to "one", pages_one_path%> | <%= link_to "two", pages_two_path%> | <%= link_to "three", pages_three_path%>
    </div>
      
  </div>
</nav>